<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <h1>About Us</h1>

    <h2>Team Information</h2>
    <ul>
        <li>Molyka Rasmey Chao - 104211738</li>
        <li>Ai Ling Ong - 101211609</li>
        <li>Palida Parichayawong - 103822045</li>
        <li>Preeyanuch Leelapisuth - 103800342</li>
    </ul>

    <h2>Project Information</h2>
    <h3>Project Title:</h3>
    <p>Design and Implementation of a Cross-platform Desktop Application for Social Network Analysis using Statistical
        Models</p>

    <h3>Project Description:</h3>
    <p>
        The goal of this project is to develop a desktop application for social network analysis using statistical
        models, including models such as exponential random graph models (ERGMs) or auto-logistic actor attribute models
        (ALAAMs). The application will provide users with a user-friendly and interactive interface to collect and
        upload network data, perform network descriptive statistics, visualize networks, and apply various statistical
        models to analyze network structures and related outcomes. The program will generate an interactive report that
        integrates findings from descriptive statistics and statistical models, presenting results in both
        numerical/table format and empirical interpretations with practical implications.
    </p>

    <ul>
        <li>Develop a desktop application capable of handling social network data for analysis.</li>
        <li>Implement features to collect, upload, process, and validate network data within the application.</li>
        <li>Design and integrate various descriptive statistics algorithms to capture key network metrics.</li>
        <li>Develop a network visualization module to enable users to explore and understand network structures.</li>
        <li>Incorporate statistical models such as ERGMs or ALAAMs for analyzing network properties.</li>
        <li>Enable users to customize and apply statistical models to investigate specific network outcomes.</li>
        <li>Generate an interactive report that presents the results in a user-friendly and informative manner.</li>
        <li>Provide users with interpretive insights and practical implications based on the analysis results.</li>
    </ul>

</body>

</html>