<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>

<body>
    <h1>Contact Us</h1>

    <h2>Team Members</h2>
    <ul>
        <li>Molyka Rasmey Chao - <a href="mailto:104211738@student.swin.edu.au">104211738@student.swin.edu.au</a></li>
        <li>Ai Ling Ong - <a href="mailto:101211609@student.swin.edu.au">101211609@student.swin.edu.au</a></li>
        <li>Palida Parichayawong - <a href="mailto:103822045@student.swin.edu.au">103822045@student.swin.edu.au</a></li>
        <li>Preeyanuch Leelapisuth - <a href="mailto:103800342@student.swin.edu.au">103800342@student.swin.edu.au</a>
        </li>
    </ul>

    <h2>Contact Information</h2>
    <p>Email: <a href="mailto:apmp@student.swin.edu.au">apmp@student.swin.edu.au</a></p>
    <p>Phone: +61 430 488 569</p>

</body>

</html>